version: '3'
services:
  # RabbitMQ service
  rabbitmq:
    image: "rabbitmq:3-management"
    container_name: "rabbitmq"
    ports:
      - "5672:5672"  # RabbitMQ port for communication
      - "15672:15672"  # Management console web UI port
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    healthcheck:
      test: ["CMD", "curl", "-f", http://localhost:15672"]
      interval: 20s
      timeout: 5s
      retries: 5
    networks:
      - app_network

  anonymizer:
    build:
      context: https://github.com/mdw-nl/anonymizer.git  # Current directory (where the Dockerfile is located)
      dockerfile: Dockerfile
    container_name: "anonymizer"
    environment:
      - RABBITMQ_HOST=rabbitmq  # Service name of the RabbitMQ container
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=user
      - RABBITMQ_PASSWORD=password
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    volumes:
      - ./config.yaml:/app/config.yaml  # Mount config.yaml into the container
      - ./data/dicom_datasets:/app/dicom_datasets
      - ./data/anonymised_datasets:/app/anonimised_folder
      - ./anonymiser_recipes:/recipes
    networks:
      - app_network

  # Anonymizer app service
  radiomics:
    build:
      context: https://github.com/mdw-nl/radiomics.git  # Current directory (where the Dockerfile is located)
      dockerfile: Dockerfile
    container_name: "radiomics"
    environment:
      - RABBITMQ_HOST=rabbitmq  # Service name of the RabbitMQ container
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=user
      - RABBITMQ_PASSWORD=password
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    volumes:
      - ./config.yaml:/app/config.yaml  # Mount config.yaml into the container
      - ./data/anonymised_datasets:/app/anonimised_folder
      - ./radiomics_settings:/radiomics_settings
      - ./data/xnat_listener:/app/data
    networks:
      - app_network

  xnat_listener:
    build:
      context: https://github.com/TomSinsel/xnat_listener.git  # Current directory (where the Dockerfile is located)
      dockerfile: Dockerfile
    container_name: "xnat_listener"
    environment:
      - RABBITMQ_HOST=rabbitmq  # Service name of the RabbitMQ container
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=user
      - RABBITMQ_PASSWORD=password
    restart: on-failure
    depends_on:
      - rabbitmq
    links: 
      - rabbitmq
    volumes:
      - ./config.yaml:/app/config.yaml  # Mount config.yaml into the container
      - ./data/xnat_listener:/app/data
    networks:
      - app_network

  # send_xnat:
  #   build: 
  #     context: https://github.com/TomSinsel/send_xnat_data.git 
  #     dockerfile: Dockerfile
  #   container_name: "send_xnat"
  #   environment:
  #     - RABBITMQ_HOST=rabbitmq  # Service name of the RabbitMQ container
  #     - RABBITMQ_PORT=5672
  #     - RABBITMQ_USER=user
  #     - RABBITMQ_PASSWORD=password
  #   restart: on-failure
  #   depends_on:
  #     - rabbitmq
  #   links: 
  #     - rabbitmq
  #   volumes:
  #     - ./config.yaml:/app/config.yaml  # Mount config.yaml into the container
  #     - ./data/anonymised_datasets:/app/anonimised_folder
  #     - ./data/xnat_listener:/app/data
  #   networks:
  #     - app_network

  xnat-web:
    image: ghcr.io/mdw-nl/mdw-xnat:1.9
    environment:
      XNAT_VERSION: ${XNAT_VERSION}
      XNAT_SMTP_ENABLED: ${XNAT_SMTP_ENABLED}
      XNAT_SMTP_HOSTNAME: ${XNAT_SMTP_HOSTNAME}
      XNAT_SMTP_PORT: ${XNAT_SMTP_PORT}
      XNAT_SMTP_AUTH: ${XNAT_SMTP_AUTH}
      XNAT_SMTP_USERNAME: ${XNAT_SMTP_USERNAME}
      XNAT_SMTP_PASSWORD: ${XNAT_SMTP_PASSWORD}
      XNAT_DATASOURCE_DRIVER: ${XNAT_DATASOURCE_DRIVER}
      XNAT_DATASOURCE_URL: ${XNAT_DATASOURCE_URL}
      XNAT_DATASOURCE_USERNAME: ${XNAT_DATASOURCE_USERNAME}
      XNAT_DATASOURCE_PASSWORD: ${XNAT_DATASOURCE_PASSWORD}
      TOMCAT_XNAT_FOLDER: ${TOMCAT_XNAT_FOLDER}
      XNAT_ROOT: ${XNAT_ROOT}
      XNAT_HOME: ${XNAT_HOME}
      XNAT_EMAIL: ${XNAT_EMAIL}
      CATALINA_OPTS: -Xms${XNAT_MIN_HEAP} -Xmx${XNAT_MAX_HEAP} -Dxnat.home=${XNAT_HOME}
    container_name: xnat-web
    ports:
      - 8080:8080
      - 8104:8104
    volumes:
      - ./xnat/plugins:${XNAT_HOME}/plugins
      - ./xnat-data/home/logs:${XNAT_HOME}/logs
      - ./xnat-data/archive:${XNAT_ROOT}/archive
      - ./xnat-data/build:${XNAT_ROOT}/build
      - ./xnat-data/cache:${XNAT_ROOT}/cache
      - /var/run/docker.sock:/var/run/docker.sock
      - ./XNAT_configure:/XNAT_conf/XNAT_configure
    depends_on:
      - xnat-db
    networks:
      - app_network


  xnat-db:
    image: postgres:${PG_VERSION}
    container_name: "xnat-db"
    expose:
      - "5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./postgres:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_PASSWORD=${XNAT_DATASOURCE_ADMIN_PASSWORD}
      - POSTGRES_DB=${XNAT_DATASOURCE_NAME}
      # variables for the sql script
      - XNAT_DATASOURCE_USERNAME=${XNAT_DATASOURCE_USERNAME}
      - XNAT_DATASOURCE_PASSWORD=${XNAT_DATASOURCE_PASSWORD}
    networks:
      - app_network


  xnat-nginx:
    image: nginx:${NGINX_VERSION}
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    expose:
      - "80"
    depends_on:
      - xnat-web
    links:
      - xnat-web
    networks:
      - app_network

  postgres:
    image: postgres:13
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    networks:
      - app_network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s

  dicom-sorter:
    build: 
      context: https://github.com/mdw-nl/DICOM-Listner.git
      dockerfile: Dockerfile
    container_name: "dicom_sorter"
    depends_on:
      - rabbitmq
      - postgres
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "104:104"
    networks:
      - app_network
    volumes:
      - ./data/associationdata:/dicomsorter/data
      - ./config.yaml:/Config/config.yaml

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "9000:80"  # Access pgAdmin at http://localhost:9000
    volumes:
      - ./pgadmin-data:/var/lib/pgadmin
    depends_on:
      - xnat-db  # Wait until Postgres is ready
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
